@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700&display=swap');

*, *::before, *::after {    
    margin: 0;    
    padding: 0;    
    box-sizing: border-box;    
    list-style: none;    
    text-decoration: none;
    scroll-behavior: auto !important;
    /* border: 1px solid black; */
}

img,
picture {
  max-width: 100%;
  display: block;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 120rem;
}

.headerDiv {
    display: flex;
    gap: 4rem;
}

header .logo {
    height: 7.5rem;
    width: 7.5rem;
}

.phone-number-header, .work-time-header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 20.5rem;
}

.phone-number-header p, .work-time-header p {
    text-transform: uppercase;
    text-align: left;
    font-size: 1.3rem;
    margin-left: 1.5rem;
}

.phone-number-header {
    border-right: 1px solid lightgrey;
}

header button {
    background: #ffe718;
    color: #222931;
    border: none;
    padding: 1rem;
    cursor: pointer;
    width: 100%;
    max-width: 20.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    transition: all 200ms ease-in-out;
}

header button:hover {
    background: #222931;
    color: white;
}

header button i {
    margin-right: 0.75rem;
}

/* Modal menu Mobile */

.modal-menu {
    height: 100%;
    width: 100%;
    background: #222931;
    position: fixed;
    color: white;
    padding: 2rem;
    z-index: 1000;
    transform: translateX(-100%);
    transition: all 0.3s ease;
    overflow: hidden;
}

.modal-menu.active {
    transform: translateX(0);
  }

.modal-menu-content {
    min-height: 100vh;
}

.modal-menu-body ul li a {
    color: white;
    font-size: 1.75rem;
    font-weight: 700;
    padding: 1rem;
}

.modal-menu-body {
    margin: 4rem 0;
}

.modal-menu-body ul li {
    margin: 2rem 0;
    padding: 0.5rem 0;
}

.modal-menu-header {
    display: flex;
    justify-content: flex-end;
}

.modal-menu-body ul li:nth-child(1) {
    background: #ffe718;
}

.modal-menu-body ul li:nth-child(1) a {
    color: #222931;;
}

.close-menu {
    font-size: 2.5rem;
}

/* Nav Menu */

.nav {
    width: 100%;
    max-width: 120rem;
}

nav {
    width: 100%;
    max-width: 120rem;
    background: #222931;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    transition: all 200ms ease-in-out;
}

nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

nav ul li:nth-child(1) {
    background: #ffe718;
}

nav ul li:nth-child(1) a {
    color: #222931;
}

nav ul li:hover {
    background: #ffe718;
    cursor: pointer;
}

nav ul li:hover a {
    color: #222931;
}

.nav img {
    display: none;
}

/* Main content */


.main-image {
    height: 60rem;
    width: 100vw;
    background: url(./images/PeleArticle.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    box-shadow: inset 1px 1px 10px 1000px rgba(0, 0, 0, 0.3);
    /* margin-top: -2rem; */
}

.content {
    width: 100%;
    max-width: 115rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 60rem;
    padding: 2.5rem;
    color: white;
}

.separator {
    width: 2rem;
    border-top: 4px solid #ffe718;
    margin-bottom: 2rem;
}

.content h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.content h2 {
    font-size: 3.75rem;
    font-weight: 700;
    max-width: 40rem;
    margin-bottom: 4rem;
}

.wrapBtn {
    display: flex;
    gap: 2rem;
}

.content button {
    background: #ffe718;
    color: #222931;
    border: none;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.content button:nth-child(2) {
    background: white;
    color: #222931;
}

.content button:hover {
    background: #222931;
    color: white;
}

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem;
}

.wrap-stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 120rem;
}

.chantiers, .clients-satisfaits, .engins, .experience {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats svg {
    height: 4.5rem;
    width: 4.5rem;
    fill: #aeb6be;
    margin-right: 1rem;
    transition: all 200ms ease-in-out;
}

.stats svg:hover {
    fill: #91999f;
}

.stats p {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

.stats b {
    font-size: 3rem;
}


/* container  */

.container {
    display: flex;
    justify-content: center;
    background: #f8f9f9;
    padding: 6rem;
}

.wrap-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    width: 100%;
    max-width: 115rem;
}

.terrassement, .assainissement, .vrd {
    max-width: 32rem;
}

.container img {
    height: 25rem;
    width: 34rem;
}

.container h3 {
    margin: 3.5rem 0 1.5rem 0;
    font-size: 2.5rem;
    color: #222931;
}

.container p {
    font-size: 1.45rem;
    margin-bottom: 2rem;
}

.container button {
    background: #ffe718;
    color: #222931;
    border: none;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.container button:hover {
    background: #222931;
    color: white;
}

/* bandereau CTA */

.bandereau {
    background: #ffe718;
    color: #222931;
    padding: 5.5rem 0;
    display: flex;
    justify-content: center;
    margin-bottom: 5.75rem;
}

.wrap-bandereau {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 115rem;
}

.bandereau h4 {
    font-size: 3rem;
}

.bandereau p {
    font-size: 1.75rem;
    font-weight: 500;
}

.bandereau button {
    background: #fff;
    color: #222931;
    border: none;
    padding: 1rem;
    cursor: pointer;
    width: 100%;
    max-width: 20.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    transition: all 200ms ease-in-out;
}

.bandereau button i {
    margin-right: 1rem;
}

.bandereau button:hover {
    background: #222931;
    color: white;
}

/* Why you shloud trust us  */

.trust {
    display: flex;
    justify-content: center;
}

.wrap-trust {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 115rem;
}

.garantie, .devis, .experience-trust {
    border: 1px solid lightgray;
    padding: 3.5rem;
    width: 36rem;
    height: 28rem;
}

.trust svg {
    height: 5rem;
    width: 5rem;
}

.trust h4 {
    font-size: 2rem;
    color: #222931;
    margin: 1rem 0;
}

.trust p {
    font-size: 1.45rem;
    transition: all 200ms ease-in-out;
}

.trust p:hover {
    scale: 1.1;
}

.trust svg {
    fill: #aeb6be;
}

.trust svg:hover {
    fill: #91999f;
}



/* Footer */

footer {
    background: #f8f9f9;
    padding: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.75rem;
}

.wrap-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    max-width: 117.5rem;
}

footer img {
    height: 7.5rem;
    width: 7.5rem;
}

footer ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

footer a {
    color: #222931;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 500;
    transition: all 0ms;
}

footer li:nth-child(1) a {
    color: #ffe718;
}

footer p {
    font-size: 1.25rem;
    margin-top: 1rem;
}

footer .mentions {
    text-transform: inherit;
}

footer li:hover a {
    color: black;
    border-bottom: 3px solid #ffe718;
}



/* Responsive */

@media screen and (max-width: 1225px) {
    
    header, .nav, .trust {
        padding: 0 2rem;
    }

}

@media screen and (max-width: 1179px) {

    .bandereau {
        padding: 3rem
    }
    
    .wrap-bandereau {
        flex-direction: column;
    }

    .bandereau h4, .bandereau p {
        margin-bottom: 2rem;
        text-align: center;
    }

    .terrassement, .assainissement, .vrd {
        width: 100%;
        max-width: 80rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container img {
        width: 100%;
        height: 90%;
    }

}

@media screen and (max-width: 1024px) {

    .chantiers, .clients-satisfaits, .engins, .experience {
        flex-direction: column;
        text-align: center;
}

    .engins svg, .experience svg, .chantiers svg {
        margin-left: 0.75rem;
    }

    .clients-satisfaits svg {
        margin-left: 0.75rem;
    }
}

@media screen and (max-width: 779px) {

    .garantie, .devis, .experience-trust {
        width: 100%;
        height: 28rem;
    }

}


@media screen and (max-width: 767px) {
    
    header {
        flex-direction: column;
        margin-top: 1rem;
    }

    .phone-number-header, .work-time-header {
        display: none;
    }

    header button {
        margin: 0.75rem 0 3rem;
        padding: 1.25rem 2rem;
    }

    .nav {
        padding: 0;
    }

    nav {
        padding: 1.5rem 2rem;
    }

    .nav ul li {
        display: none;
    }

    .wrap-burger {
        background: #ffe718;
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav img {
        width: 2rem;
        height: 2rem;
        display: block;
    }

    .main-image {
        height: 50rem;
    }

    .stats {
        padding: 5rem 3rem 2rem;
    }

    .wrap-stats {
        flex-direction: column;
    }

    .chantiers, .clients-satisfaits, .engins, .experience {
        margin-bottom: 3rem;
}

    footer {
        text-align: center;
        padding: 1rem 1.5rem 2rem;
    }

    .wrap-footer {
        flex-direction: column;
    }

    footer ul {
        justify-content: center;
        margin-bottom: 2rem;
    }
}