@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700&display=swap');

*, *::before, *::after {    
    margin: 0;    
    padding: 0;    
    box-sizing: border-box;    
    list-style: none;    
    text-decoration: none;
    scroll-behavior: auto !important;
    /* border: 1px solid black; */
}

img,
picture {
  max-width: 100%;
  display: block;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    min-height: 100vh;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 120rem;
}

.headerDiv {
    display: flex;
    gap: 4rem;
}

header .logo {
    height: 7.5rem;
    width: 7.5rem;
}

.phone-number-header, .work-time-header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 20.5rem;
}

.phone-number-header p, .work-time-header p {
    text-transform: uppercase;
    text-align: left;
    font-size: 1.3rem;
    margin-left: 1.5rem;
}

.phone-number-header {
    border-right: 1px solid lightgrey;
}

header button {
    background: #ffe718;
    color: #222931;
    border: none;
    padding: 1rem;
    cursor: pointer;
    width: 100%;
    max-width: 20.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    transition: all 200ms ease-in-out;
}

header button:hover {
    background: #222931;
    color: white;
}

header button i {
    margin-right: 0.75rem;
}

/* Modal menu Mobile */

.modal-menu {
    height: 100%;
    width: 100%;
    background: #222931;
    position: fixed;
    color: white;
    padding: 2rem;
    z-index: 1000;
    transform: translateX(-100%);
    transition: all 0.3s ease;
    overflow: hidden;
}

.modal-menu.active {
    transform: translateX(0);
  }

.modal-menu-body ul li a {
    color: white;
    font-size: 1.75rem;
    font-weight: 700;
    padding: 1rem;
}

.modal-menu-body {
    margin: 4rem 0;
}

.modal-menu-body ul li {
    margin: 2rem 0;
    padding: 0.5rem 0;
}

.modal-menu-header {
    display: flex;
    justify-content: flex-end;
}

.modal-menu-body ul li:nth-child(2) {
    background: #ffe718;
}

.modal-menu-body ul li:nth-child(2) a {
    color: #222931;
}

.close-menu {
    font-size: 2.5rem;
}

/* Nav Menu */

.nav {
    width: 100%;
    max-width: 120rem;
}

nav {
    background: #222931;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    transition: all 200ms ease-in-out;
}

nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

nav ul li:nth-child(2) {
    background: #ffe718;
}

nav ul li:nth-child(2) a {
    color: #222931;
}

nav ul li:hover {
    background: #ffe718;
    cursor: pointer;
}

nav ul li:hover a {
    color: #222931;
}

.nav img {
    display: none;
}

/* Main */

main {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    margin-top: 10rem;
    width: 100%;
    max-width: 117rem;
}

/* Aside */

.aside {
    position: sticky;
    top: 0;
    height: 114.1rem;
    max-width: 26.5rem;
}

.aside-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    padding-top: 1.25rem;
}

.aside-menu a {
    width: 100%;
    max-width: 26.5rem;
}

.aside-menu .terrassement, .aside-menu .assainissement, .aside-menu .vrd, .aside-menu .realisations {
    padding: 2.5rem;
    border: 1px solid lightgray;
    color: #222931;
    text-transform: uppercase;
    width: 100%;
    max-width: 26.5rem;
    cursor: pointer;
    transition: 200ms all ease-in-out;
    display: flex;
    align-items: center;
}

.aside .terrassement:hover, .aside .assainissement:hover, .aside .vrd:hover,.aside .realisations:hover {
    color: #ffe718;
    background: #222931;
}

.aside i {
    margin-right: 1.25rem;
}

.cta {
    margin: 3rem 0;
}

.txt-area {
    background: #ffe718;
    color: #222931;
    padding: 3rem 7rem 3rem 3rem;
}

.txt-area h5 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

.txt-area p {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    line-height: 2.25rem;
}

.txt-area button {
    border: none;
    background: white;
    color: #222931;
    font-family: inherit;
    text-transform: uppercase;
    padding: 1rem 3rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
}

button:hover {
    background: #222931;
    color: white;
}

.working-time h4 {
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}

.separator {
    width: 2rem;
    border-top: 4px solid #ffe718;
    margin-bottom: 2rem;
}

.working-time p {
    font-size: 1.5rem;
}

.wrap {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
}

.wrap i {
    padding-top: 0.3rem;
}


/* Main content */

.container h1 {
    font-size: 3.5rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
}

.container h4 {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

.container h2 {
    font-size: 2rem;
    font-weight: 500;
    margin: 3rem 0 1.5rem;

}

.container p {
    font-size: 1.5rem;
    margin: 0 0 2rem;
}

.container a {
    color: #222931;
}

.bottom {
    margin-bottom: 8rem;
}

.wrapImg {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.wrapImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* Footer */

footer {
    background: #f8f9f9;
    padding: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.wrap-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    max-width: 117.5rem;
}

footer img {
    height: 7.5rem;
    width: 7.5rem;
}

footer ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

footer a {
    color: #222931;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 500;
    transition: all 0ms;
}

footer li:nth-child(2) a {
    color: #ffe718;
}

footer p {
    font-size: 1.25rem;
    margin-top: 1rem;
}

footer .mentions {
    text-transform: inherit;
}

footer li:hover a {
    color: black;
    border-bottom: 3px solid #ffe718;
}

/* Responsive */

@media screen and (max-width: 1225px) {

    header, .nav, main {
        padding: 0 2rem;
    }

}


@media screen and (max-width: 1024px) {

    main {
        flex-direction: column-reverse;
    }

    .bottom {
        margin-bottom: 2rem;
    }

    .aside {
        position: static;
        height: auto;
        max-width: 102.4rem;
    }

    .aside-menu {
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
    }

    .aside-menu a {
        width: 100%;
        min-width: 20rem;
    }

    .cta {
        width: 100%;
    }

    .cta img {
        width: 100%;
        background: #ffe718;
        padding: 2rem;
    }

    .working-time {
        margin-bottom: 5rem;
    }

}

@media screen and (max-width: 767px) {
    
    header {
        flex-direction: column;
        margin-top: 1rem;
    }

    .phone-number-header, .work-time-header {
        display: none;
    }

    header button {
        margin: 0.75rem 0 3rem;
        padding: 1.25rem 2rem;
    }

    .nav {
        padding: 0;
    }

    nav {
        padding: 1.5rem 2rem;
    }

    .nav ul li {
        display: none;
    }

    .wrap-burger {
        background: #ffe718;
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav img {
        width: 2rem;
        height: 2rem;
        display: block;
    }

    main {
        margin-top: 6rem;
    }

    footer {
        text-align: center;
        padding: 1rem 1.5rem 2rem;
    }

    .wrap-footer {
        flex-direction: column;
    }

    footer ul {
        justify-content: center;
        margin-bottom: 2rem;
    }

}

@media screen and (max-width: 589px) {

    .aside-menu a {
        max-width: 54.3rem;
    }

    .aside-menu .terrassement, .aside-menu .assainissement, .aside-menu .vrd, .aside-menu .realisations {
        max-width: 54.3rem;
        justify-content: center;
    }

}