@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700&display=swap');

*, *::before, *::after {    
    margin: 0;    
    padding: 0;    
    box-sizing: border-box;    
    list-style: none;    
    text-decoration: none;
    scroll-behavior: auto !important;
    /* border: 1px solid black; */
}

img,
picture {
  max-width: 100%;
  display: block;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    min-height: 100vh;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 120rem;
}

.headerDiv {
    display: flex;
    gap: 4rem;
}

header .logo {
    height: 7.5rem;
    width: 7.5rem;
}

.phone-number-header, .work-time-header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 20.5rem;
}

.phone-number-header p, .work-time-header p {
    text-transform: uppercase;
    text-align: left;
    font-size: 1.3rem;
    margin-left: 1.5rem;
}

.phone-number-header {
    border-right: 1px solid lightgrey;
}

header button {
    background: #ffe718;
    border: none;
    padding: 1rem;
    cursor: pointer;
    width: 100%;
    max-width: 20.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    transition: all 200ms ease-in-out;
}

header button:hover {
    background: #222931;
    color: white;
}

header button i {
    margin-right: 0.75rem;
}

/* Modal menu Mobile */

.modal-menu {
    height: 100%;
    width: 100%;
    background: #222931;
    position: fixed;
    color: white;
    padding: 2rem;
    z-index: 1000;
    transform: translateX(-100%);
    transition: all 0.3s ease;
    overflow: hidden;
}

.modal-menu.active {
    transform: translateX(0);
  }

.modal-menu-body ul li a {
    color: white;
    font-size: 1.75rem;
    font-weight: 700;
    padding: 1rem;
}

.modal-menu-body {
    margin: 4rem 0;
}

.modal-menu-body ul li {
    margin: 2rem 0;
    padding: 0.5rem 0;
}

.modal-menu-header {
    display: flex;
    justify-content: flex-end;
}

.modal-menu-body ul li:nth-child(5) {
    background: #ffe718;
}

.modal-menu-body ul li:nth-child(5) a {
    color: #222931;;
}

.close-menu {
    font-size: 2.5rem;
}

/* Nav Menu */

.nav {
    width: 100%;
    max-width: 120rem;
}

nav {
    background: #222931;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    transition: all 200ms ease-in-out;
}

nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

nav ul li:nth-child(5) {
    background: #ffe718;
}

nav ul li:nth-child(5) a {
    color: #222931;
}

nav ul li:hover {
    background: #ffe718;
    cursor: pointer;
}

nav ul li:hover a {
    color: #222931;
}

.nav img {
    display: none;
}

/* main content */

main {
    width: 100%;
    max-width: 117rem;
}

.map {
    margin: 10rem 0 6rem 0;
    position: relative;
    padding-bottom: 27.5%;
    height: 0;
    overflow: hidden;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.wrap-content {
    display: flex;
    align-items: flex-start;
    gap: 13rem;
    width: 100%;
    max-width: 117rem;
}

.separator {
    width: 2rem;
    border-top: 4px solid #ffe718;
    margin-bottom: 2rem;
}

.location, .phone, .working-time, .email {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
}

.location i, .phone i, .working-time i, .email i {
    margin-right: 1.5rem;
}

main h3 {
    font-size: 2.25rem;
    color: #222931;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}

main h4 {
    font-size: 1.65rem;
    color: #222931;
    font-weight: 600;
    margin-bottom: 0.75rem;
}

main p {
    font-size: 1.5rem;
}

.form-contact p {
    margin-bottom: 2.5rem;
}

.form-contact {
    width: 100%;
}

form{
    width: 100%;
}

.row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem 3rem;
    margin-bottom: 2rem;
}

form label {
    font-size: 1.65rem;
    color: #222931;
    font-weight: 600;
}

input[type=text], input[type="email"], textarea {
    background: #f5f6f6;
    border: 1px solid #e6e8e8;
    padding: 1.75rem;
    width: 100%;
    resize: none;
    margin-top: 0.5rem;
}

input[type=submit] {
    border: none;
    background: #ffe718;
    font-family: inherit;
    font-size: 1.35rem;
    font-weight: 600;
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    max-width: 11rem;
    margin: 1rem 0 9rem;
}

input[type=submit]:hover {
    background: #222931;
    color: white;
}

.submit {
    position: relative;
}

.status {
    width: 90%;
    max-width: 30rem;
    text-align: center;
    padding: 0.85rem;
    margin: 0 auto;
    position: absolute;
    top: 1rem;
    left: 15rem;
  }

  .status.success {
    background-color: rgb(0, 255, 0);
    animation: status 5s ease forwards;
  }

  .status.error {
    background-color: red;
    color: white;
    animation: status 5s ease forwards;
  }

  @keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    50% {
      opacity: 0.9;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }



/* Footer */

footer {
    background: #f8f9f9;
    padding: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.wrap-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    max-width: 117.5rem;
}

footer img {
    height: 7.5rem;
    width: 7.5rem;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

footer a {
    color: #222931;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 500;
}

footer li:nth-child(5) a {
    color: #ffe718;
}

footer p {
    font-size: 1.25rem;
    margin-top: 1rem;
}

footer .mentions {
    text-transform: inherit;
}

footer li:hover a {
    color: black;
    border-bottom: 3px solid #ffe718;
}


/* Responsive */

@media screen and (max-width: 1200px) {
    
    header, .nav, main {
        padding: 0 2rem;
    }

}

@media screen and (max-width: 767px) {
    
    header {
        flex-direction: column;
        margin-top: 1rem;
    }

    .phone-number-header, .work-time-header {
        display: none;
    }

    header button {
        margin: 0.75rem 0 3rem;
        padding: 1.25rem 2rem;
    }

    .nav {
        padding: 0;
    }

    nav {
        padding: 1.5rem 2rem;
    }

    .nav ul li {
        display: none;
    }

    .wrap-burger {
        background: #ffe718;
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav img {
        width: 2rem;
        height: 2rem;
        display: block;
    }

    .map {
        margin: 6rem 0 6rem;
    }

    .wrap-content {
        flex-direction: column;
        gap: 5rem;
    }

    footer {
        text-align: center;
        padding: 1rem 1.5rem 2rem;
    }

    .wrap-footer {
        flex-direction: column;
    }

    footer ul {
        justify-content: center;
        margin-bottom: 2rem;
    }

}


@media screen and (max-width: 800px) {

    .status {
        top: 6rem;
        left: 0;
        right: 0;
        margin: auto;
      }

}
